body
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    width: 800px;
    margin: 0 auto 0 auto;
}

header
{
    display: table;
    background-color: rgb(58, 87, 149);
    color: white;
    width: 100%;
    height: 64px;
}

header form
{
    display: table-cell;
    text-align: center;
    width: 150px;
}

header form input
{
    display: table-cell;
}

header #welcome-message
{
    display: table-cell;
    text-align: center;
    width: 500px;
    padding: 20px 20px 0px 20px;
}

header #main-page
{
    display: table-cell;
    text-align: center;
    width: 150px;
    color: white;
    text-decoration: blink;
}

header #main-page:hover,
footer .logout:hover
{
    background-color: rgba(0, 31, 64, 0.17);
}

.login-register
{
    width: 200px;
    display: table-cell;
    text-align: center;
}

.content
{
    width: 600px;
    height: 500px;
    display: table-cell;
    padding: 20px 30px 0;
    background-color: #EDF1F5;
    border: solid #F3F3F3;
    border-width: 0px 1px 1px;
    border-color: rgba(100, 100, 100, 0.08);
}

.login-register button
{
    margin: 10px 0px 0px 0px;
    text-align: center;
    border: 1px solid;
    -webkit-border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    border-color: rgba(0, 31, 64, 0.17);
    padding: 7px 20px;
    background: rgb(58, 87, 149);
    width: 150px;
}

h3
{
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #45688E;
}

footer
{
    display: table;
    background-color: rgb(58, 87, 149);
    color: white;
    width: 100%;
    height: 32px;
}

footer .logout
{
    display: table-cell;
    text-align: center;
    max-width: 100px;
    color: white;
    padding: 10px;
    text-decoration: blink;
}

footer #footer-message
{
    display: table-cell;
    width: 700px;
    text-align: right;
    padding: 10px;
}

.editable-form
{
    text-align: center;
    width: 400px;
    display: table;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background-color: #EDF1F5;
    border: solid #F3F3F3;
    border-width: 0px 1px 1px;
    border-color: rgba(100, 100, 100, 0.08);
}


.editable-form input[type=text],
.editable-form input[type=password]
{
    width: 172px;
    font-size: 14px;
    padding: 8px 10px;
    border-color: #bdc7d8;
    -webkit-border-radius: 5px;
    border: 1px solid #bdc7d8;
}


input[type=submit]
{
    margin: 20px auto 20px auto;
    border: 1px solid;
    -webkit-border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    letter-spacing: 1px;
    position: relative;
    border-color: rgba(0, 31, 64, 0.17);
    padding: 8px 10px;
    background: rgb(58, 87, 149);
    width: 172px;
    font-size: 14px;
}

.editable-form h3,
.table-page h3
{
    margin: 12px 0 8px 0;
    text-align: center;
}

.editable-form textarea
{
    font-size: 14px;
    padding: 8px 10px;
    border: 1px solid rgb(189, 199, 216);
    border-radius: 5px;
    margin: 0px;
    max-width: 300px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h2
{
    text-align: center;
    color: #45688E;
    margin-top: 0;
    padding-top: 10px;
}

.error-message
{
    color: #ff0b39;
    margin-top: 5px;
}

.table-page
{
    min-height: 500px;
    min-width: 400px;
    margin: 0px auto 0 auto;
    background-color: #EDF1F5;
    border: solid #F3F3F3;
    border-width: 0px 1px 1px;
    border-color: rgba(100, 100, 100, 0.08);
    display: table;
}

.table-page button
{
    width: 100%;
    border: 0;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    padding: 0px 20px;
    color: #45688E;
    font-size: 16px;
    line-height: 22px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

button:focus
{
    outline: 0;
}

.table-page table
{
    min-width: 400px;
    border-spacing: 0;
}

.table-page tr:nth-child(2n)
{
    background: #f0f0f0;
}

.table-page tr:nth-child(2n+1)
{
    background: #e1e1e1;
}

.table-page button:hover
{
    background: #a8bcdb;
}

.table-page .name-cell
{
    padding: 0px 20px;
    color: #45688E;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.student-list
{
    text-align: center;
}

.course-page,
.profile-page
{
    min-height: 500px;
    width: 798px;
    margin: 0px auto 0 auto;
    background-color: #EDF1F5;
    border: solid #F3F3F3;
    border-width: 0px 1px 1px;
    border-color: rgba(100, 100, 100, 0.08);
    display: table;
}

.course-page h3,
.profile-page h3
{
    padding-left: 20px;
}

.course-page .description-part,
.profile-page .description-part
{
    background-color: #dce0e4;
    border: solid #F3F3F3;
    border-width: 1px 0px;
    border-color: rgba(100, 100, 100, 0.08);
}

.course-page button,
.profile-page button
{
    border: 0;
    margin-left: 20px;
    background: transparent;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    display: block;
    font-size: 16px;
}

.course-page p,
.profile-page p
{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

.course-page .review
{
    width: 600px;
}

.course-page .edit-button,
.profile-page .edit-button
{
    display: table;
    margin: -10px auto 10px auto;
    border: 1px solid;
    -webkit-border-radius: 5px;
    text-decoration: none;
    font-family: Arial;
    color: #fff;
    cursor: pointer;
    font-weight: normal;
    position: relative;
    border-color: rgba(0, 31, 64, 0.17);
    padding: 8px 10px;
    background: rgb(58, 87, 149);
    font-size: 14px;
}

.course-page .delete-button,
.profile-page .delete-button
{
    margin: 20px auto 20px auto;
    border: 1px solid;
    -webkit-border-radius: 5px;
    text-decoration: none;
    font-family: Arial;
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: normal;
    position: relative;
    border-color: rgba(0, 31, 64, 0.17);
    padding: 8px 10px;
    background: rgb(58, 87, 149);
    font-size: 14px;
}

.course-page .review-table
{
    border-collapse: collapse;
    width: 100%;
}

.course-page .review-table button
{
    margin: 20px auto 20px auto;
}

.course-page .review-table tr
{
    border-bottom: solid 1px rgba(100, 100, 100, 0.08);
}

.course-page textarea
{
    font-size: 14px;
    padding: 8px 10px;
    border: 1px solid rgb(189, 199, 216);
    border-radius: 5px;
    margin: 20px auto 0 auto;
    width: 400px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    display: block;
    resize: vertical;
}

.profile-page .table-part
{
    border: solid #F3F3F3;
    border-width: 0px 0px 1px 0px;
    border-color: rgba(100, 100, 100, 0.08);
    padding-bottom: 20px;
}

.profile-page .table-part table
{
    border-collapse: collapse;
    width: 100%;
}

.profile-page h4
{
    color: black;
    font-style: italic;
    padding-left: 20px;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
}

.profile-page .table-part tr
{
    height: 80px;
    border: solid #F3F3F3;
    border-width: 1px 0px 0px 0px;
    border-color: rgba(100, 100, 100, 0.08);
}

.profile-page .table-part .mark
{
    text-align: center;
    width: 50px;
    font-weight: bold;
    font-size: 18px;
    color: #45688E;
}


.profile-page .link-button
{
    margin: 10px;
    border: 1px solid;
    -webkit-border-radius: 5px;
    text-decoration: none;
    font-family: Arial;
    color: #fff;
    cursor: pointer;
    font-weight: normal;
    position: relative;
    border-color: rgba(0, 31, 64, 0.17);
    padding: 8px 10px;
    background: rgb(58, 87, 149);
    font-size: 14px;
}

.row
{
    display: table-row;
}

.row h3,
.row form,
.row button
{
    display: table-cell;
}

.student-table tr
{
    vertical-align: text-top;
    height: 50px;
}