<%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<fmt:setLocale value="${language}" scope="session"/>
<html>
<head>
    <script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../js/studentCourses.js"></script>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<header>
    <%@ taglib prefix="ctg" uri="customtags"%>
    <fmt:setBundle basename="resources.pagecontent"/>
    <form name="languageChoise" method="POST" action="controller">
        <input type="radio" name="language" <c:if test="${(sessionScope.language eq 'ru_ru') || (sessionScope.language eq null)}">checked</c:if> value="ru" id="Ru" onclick="updateInfo(this)"><label><fmt:message
            key="language.ru"/></label>
        <input type="radio" name="language" <c:if test="${sessionScope.language eq 'en_us'}">checked</c:if> value="en" id="En" onclick="updateInfo(this)"><label><fmt:message
            key="language.en"/></label>
    </form>
    <div id="welcome-message"><fmt:message key="label.welcome"/></div>
    <a id="main-page" href="controller?"><fmt:message key="href.myPage"/></a>
</header>
